<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="gpsp_frameskip_type" values="off|manual|automatic" default="off"/>
		<setting label="30002" type="select" id="gpsp_frameskip_value" values="1|2|3|4|5|6|7|8|9" default="1"/>
		<setting label="30003" type="select" id="gpsp_frameskip_variation" values="uniform|random" default="uniform"/>
		<setting label="30004" type="select" id="gpsp_save_method" values="gpSP|libretro" default="gpSP"/>
	</category>
</settings>
